@CHARSET "UTF-8";
/* 색상 스타일시트 */
input[class="color1"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #f00;
	display:inline-block;
}
input[class="color1"]:checked+label {
	border:2px solid ridge;
}
input[class="color1"] {
	display: none;
}


input[class="color2"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #ffbb00;
}
input[class="color2"]:checked+label {
	border:2px solid black;
}
input[class="color2"] {
	display: none;
}


input[class="color3"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #ffe400;
}
input[class="color3"]:checked+label {
	border:2px solid black;
}
input[class="color3"] {
	display: none;
}


input[class="color4"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #abf200;
}
input[class="color4"]:checked+label {
	border:2px solid black;
}
input[class="color4"] {
	display: none;
}


input[class="color5"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #1ddb16;
}
input[class="color5"]:checked+label {
	border:2px solid black;
}
input[class="color5"] {
	display: none;
}


input[class="color6"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #00d8ff;
}
input[class="color6"]:checked+label {
	border:2px solid black;
}
input[class="color6"] {
	display: none;
}


input[class="color7"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #0054ff;
}
input[class="color7"]:checked+label {
	border:2px solid black;
}
input[class="color7"] {
	display: none;
}


input[class="color8"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #0100ff;
}
input[class="color8"]:checked+label {
	border:2px solid black;
}
input[class="color8"] {
	display: none;
}


input[class="color9"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #5f00ff;
}
input[class="color9"]:checked+label {
	border:2px solid black;
}
input[class="color9"] {
	display: none;
}


input[class="color10"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #ff00dd;
}
input[class="color10"]:checked+label {
	border:2px solid black;
}
input[class="color10"] {
	display: none;
}


input[class="color11"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	border:2px solid red;
	background-color: #ff007f;
}
input[class="color11"]:checked+label {
	border:2px solid black;
}
input[class="color11"] {
	display: none;
}


input[class="color12"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #000000;
}
input[class="color12"]:checked+label {
	border:2px solid yellow;
}
input[class="color12"] {
	display: none;
}


input[class="color13"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #ffffff;
	border:1px solid pink;
}
input[class="color13"]:checked+label {
	border:1px solid black;
}
input[class="color13"] {
	display: none;
}

input[class="color14"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #ffffff;
	border:1px solid pink;
}
input[class="color14"]:checked+label {
	border:1px solid black;
}
input[class="color14"] {
	display: none;
}

input[class="color15"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color15"]:checked+label {
	border:1px solid black;
}
input[class="color15"] {
	display: none;
}

input[class="color16"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color16"]:checked+label {
	border:1px solid black;
}
input[class="color16"] {
	display: none;
}

input[class="color17"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color17"]:checked+label {
	border:1px solid black;
}
input[class="color17"] {
	display: none;
}

input[class="color18"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color18"]:checked+label {
	border:1px solid black;
}
input[class="color18"] {
	display: none;
}

input[class="color19"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color19"]:checked+label {
	border:1px solid black;
}
input[class="color19"] {
	display: none;
}

input[class="color20"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color20"]:checked+label {
	border:1px solid black;
}
input[class="color20"] {
	display: none;
}

input[class="color21"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color21"]:checked+label {
	border:1px solid black;
}
input[class="color21"] {
	display: none;
}

input[class="color22"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color22"]:checked+label {
	border:1px solid black;
}
input[class="color22"] {
	display: none;
}

input[class="color23"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color23"]:checked+label {
	border:1px solid white;
}
input[class="color23"] {
	display: none;
}

input[class="color24"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color24"]:checked+label {
	border:1px solid white;
}
input[class="color24"] {
	display: none;
}

input[class="color25"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color25"]:checked+label {
	border:1px solid white;
}
input[class="color25"] {
	display: none;
}

input[class="color26"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color26"]:checked+label {
	border:1px solid white;
}
input[class="color26"] {
	display: none;
}

input[class="color27"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color27"]:checked+label {
	border:1px solid white;
}
input[class="color27"] {
	display: none;
}

input[class="color28"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color28"]:checked+label {
	border:1px solid white;
}
input[class="color28"] {
	display: none;
}

input[class="color29"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color29"]:checked+label {
	border:1px solid white;
}
input[class="color29"] {
	display: none;
}

input[class="color30"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color30"]:checked+label {
	border:1px solid white;
}
input[class="color30"] {
	display: none;
}

input[class="color31"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color31"]:checked+label {
	border:1px solid white;
}
input[class="color31"] {
	display: none;
}

input[class="color32"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color32"]:checked+label {
	border:1px solid white;
}
input[class="color32"] {
	display: none;
}

input[class="color33"]+label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: red;
	border:1px solid pink;
}
input[class="color33"]:checked+label {
	border:1px solid white;
}
input[class="color33"] {
	display: none;
}
